.page-container {
  height: 100%;
  width: 100%;
  background-color: var(--bg-secondary);
  box-sizing: border-box;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Add any additional styles you want for the container */