/* ===============================
   Footer Styling
   ===============================
    /* This footer width of the page and stays at the bottom */
.footer {
  /* the width should be 100 % of the parent container */
  width: 100%;
  padding: 2px 0;
  color: var(--text-quaternary);
  font-size: 12px;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* ===============================
    Added media queries for responsive design
    Tablet & Small Desktop View
   =============================== */
@media (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
}